{% load static %}
<script src="{% static "custom/js/jquery-3.2.1.js" %}"></script>
<script src="{% static "custom/js/awamicrockery.js" %}"></script>
<script src="{% static "custom/js/network.js" %}"></script>
<button class="add">add</button>
<button>delete</button>
<button>search</button>
<button>clear</button>
<div class="addition" style="display: none">
{% include 'awamicrockery/_partial/_add.html' %}
</div>
{% include 'awamicrockery/_partial/_search.html' %}
{% for c in model %}
{{ c.first_name }}--{{ c.last_name }}--{{ c.price }}--{{ c.item_code }}
{% endfor %}
<script>
    awamicrockery.buttonfuntion();
</script>